@{ Layout = null;
}

<input type="hidden" id="Def_JobsViewBag" value="@ViewBag.Def_JobsViewBag"/>

<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <div class="modal-title"> تعديل الوظيفة </div>
        </div>

        <div class="modal-body">

            <div class="row">

                <div class="col-md-12">

                    <form class="form-horizontal">
                        <div class="row">
                           <label class="control-label col-md-2"> الوظيفة </label>
                           <input type="text" class="form-control col-md-3" ng-model="Def_Job.Name"/>
                        </div>
                    </form>

                </div>

            </div>


        </div>

        <div class="modal-footer">
            <label class="col-md-1 btn btn-danger" ng-click="EditDef_JobsEnd()"> حفظ </label>
        </div>

    </div>
</div>