@{ Layout = null;}


<div class="row">
    <label class="btn btn-danger col-md-3" ng-click="AddEmpPenalty()"> اضافة جزاء </label>
</div>
<hr />
<div class="row">
    <input type="hidden" id="EmpPenaltysID" value="@ViewBag.EmpPenaltys" />
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <td> تاريخ </td>
            <td> نوع الجزاء </td>
            <td> عدد الايام </td>
            <td> القيمة </td>
            <td> ملاحظات </td>
        </tr>

        <tr ng-repeat="x in EmpPenaltys">
            <td>{{x.DateAdded|date:'yyyy-MM-dd'}}</td>
            <td>{{x.Name}}</td>
            <td>{{x.Daysnum}}</td>
            <td>{{x.Value}}</td>
            <td>{{x.Note}}</td>
            <td>
                <label class="btn btn-primary" ng-click="EditEmpPenalty(x.ID)"> تعديل </label>
                <label class="btn btn-danger" ng-click="DeleteEmpPenalty(x.ID)">حذف </label>
            </td>
        </tr>
    </table>

</div>














