
@{ Layout = null;}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title"> تعديل مكافئة </div>
        </div>

        <div class="modal-body">

            <form class="form-horizontal">
                <input type="hidden" ng-model="RewardType.ID" />
                <input type="hidden" id="RewardTypeID" value="@ViewBag.RewardType" />
                <div class="row">
                    <label class="control-label col-md-2"> الاسم </label>
                    <input type="text" class="col-md-8 form-control" ng-model="RewardType.Name" />
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-md-2"> القيمة </label>
                    <input type="text" class="col-md-3 form-control" ng-disabled="RewardType.DaysNum" ng-model="RewardType.Value" />

                    <label class="control-label col-md-2"> عدد الايام </label>
                    <input type="text" class="col-md-3 form-control" ng-disabled="RewardType.Value" ng-model="RewardType.DaysNum" />
                </div>

            </form>

        </div>

        <div class="modal-footer">
            <label class="btn btn-default" ng-click="EditRewardTypesEnd()"> حفظ </label>
        </div>

    </div>
</div>

