
@{ Layout = null;}



<div class="modal-dialog">

    <div class="modal-content">

        <div class="modal-header">
            <div class="modal-title"> الحالة العسكرية </div>
        </div>

        <div class="modal-body">
            <input type="hidden" id="Def_MilitaryServiceBag" value="@ViewBag.Def_MilitaryServiceViewBag" />

            <form class="form-horizontal">

                <div class="row">
                    <label class="control-label col-md-2"> الاسم </label>
                    <input  type="text" class="form-control col-md-4" ng-model="Def_MilitaryService.Name" />
                </div>


            </form>


        </div>

        <div class="modal-footer">
            <label class="btn btn-danger" ng-click="EditDef_MilitaryServiceEnd()"> تعديل </label>
        </div>

    </div>


</div>












