@{ Layout = null;}


<div class="modal-dialog">

    <div class="modal-content">

        <div class="modal-header">
            <div class="modal-title"> اضافة بدل </div>
        </div>

        <div class="modal-body">

            <input  type="hidden" id="AllowanceType" value="@ViewBag.AllowanceType"/>
            <form class="form-horizontal">

                <div class="row">
                    <label class="control-label col-md-2"> اسم البدل </label>
                    <input type="text" class="form-control col-md-8" ng-model="AllowanceType.Name" />
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-md-2">  القيمة باليوم </label>
                    <input type="text" class="form-control col-md-8" ng-model="AllowanceType.Value" />
                </div>

            </form>
        </div>

        <div class="modal-footer">
            <label class="btn btn-danger" ng-click="EditAllowanceTypeEnd()"> حفظ </label>
        </div>

    </div>

</div>
